<template>
  <v-sheet class="ma-12">
    <h1 class="mb-5">Arquitetura</h1>
    <v-container class="d-flex justify-center">
      <v-img
        src="../assets/tonchallenge_arch.png"
        class="container-sty"
      />
    </v-container>
  </v-sheet>
</template>

<script>
export default {

}
</script>

<style>
  .container-sty {
    max-width: 50em;
  }
</style>