<template>
<v-sheet class="ma-12">
  <h1>Criar Usuário</h1>
  <v-form
    ref="form"
  >
    <v-text-field
      v-model="name"
      label="Nome"
      required
    ></v-text-field>

    <v-text-field
      v-model="lastname"
      label="Sobrenome"
      required
    ></v-text-field>

    <v-text-field
      v-model="email"
      label="E-mail"
      required
    ></v-text-field>

    <v-text-field
      v-model="password"
      type="password"
      label="Senha"
      required
    ></v-text-field>


    <v-btn
      color="success"
      class="mr-4"
      @click="submit"
    >
      Enviar
    </v-btn>

    <v-btn
      color="gray"
      class="mr-4"
      @click="reset"
    >
      Limpar
    </v-btn>
  </v-form>
  <small>A validação para esse teste é feita no backend.</small>
  <v-alert
  outlined
  type="success"
  text
  v-if="responseOk"
  >
    {{ responseText }}
  </v-alert>
  <v-alert
  outlined
  type="warning"
  text
  v-if="responseError"
  >
    {{ responseText }}
  </v-alert>
</v-sheet>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      name: null,
      lastname: null,
      email: null,
      password: null,
      responseOk: false,
      responseError: false,
      responseText: null,
    }
  },
  methods: {
    reset() {
      this.name = null
      this.lastname = null
      this.email = null
      this.password = null
    },
    submit() {
      axios
      .post(`https://h6gz9pcqs3.execute-api.us-east-1.amazonaws.com/dev/create-user/${this.email}`, {
        name: this.name,
        lastname: this.lastname,
        password: this.password
      })
      .then(response => {
        this.responseText = JSON.stringify(response.data.newUser)
        this.responseError = false,
        this.responseOk = true,
        console.log(response.data.newUser)
      })
      .catch(error => {
        this.responseText = JSON.stringify(error.response.data.error)
        this.responseOk = false,
        this.responseError = true,
        console.log(error.response.data.error)
      })
    }
  }
}
</script>

<style>

</style>