<template>
  <v-sheet class="ma-12">
    <h1 class="mb-5">Challenge</h1>
    <p class="text-justify">
      O seu desafio é construir uma API que conta o número de acessos ao site do Ton e permitir
      que um usuário crie uma conta. Para contar os acessos você deverá usar a API
      <a href="https://countapi.xyz">https://countapi.xyz</a> e para criar a conta você pode usar o banco de dados e as bibliotecas
      que preferir, mas queremos que você saiba explicar sua escolha e como elas funcionam (de
      forma aprofundada, de preferência).
    </p>
    <p class="text-left"><strong>SUA TAREFA:</strong></p>
    <p class="text-justify">
      1. Criar uma rota para incrementar o número de acessos;<br>
      2. Criar uma rota para consultar o número de acessos;<br>
      3. Criar uma rota para criar um usuário;<br>
      4. Criar uma rota para visualizar as informações de um usuário.<br>
    </p>
    <p class="text-justify">
      <strong>BÔNUS:</strong> Disponibilizar o desafio em algum servidor, escrever testes para os códigos
      (unitários, de integração e e2e) e documentação (open-api, fluxogramas e etc).
    </p>
    <p class="text-left"><strong>INSTRUÇÕES</strong></p>
    <p class="text-justify">
      ● Use versionamento, aqui no Ton tentamos seguir essa convenção:<br>
      <a href="https://www.conventionalcommits.org/en/v1.0.0/#summary">
      https://www.conventionalcommits.org/en/v1.0.0/#summary</a><br>
      ● Mande o link do repositório ou um .zip caso você prefira.<br>
      ● Seguimos o clean code, e gostaríamos de ver isso também em sua implementação:<br>
      <a href="https://github.com/ryanmcdermott/clean-code-javascript">
      https://github.com/ryanmcdermott/clean-code-javascript</a><br>
      ● Queremos uma entrega pronta para ir para produção, então pense em um sistema
      resiliente e na segurança do mesmo.<br>
      ● Qualquer solução será aceita e avaliada igual pois queremos entender seu
      conhecimento, mas seria interessante utilizar a mesma arquitetura que usamos, a
      Arquitetura Serverless (API Gateway + Lambda + DynamoDB)<br>
      ● Para infraestrutura, pode utilizar serverless ou terraform.<br>
    </p>
  </v-sheet>
</template>

<script>
export default {

}
</script>

<style>

</style>