<template>
  <v-app>
    <v-navigation-drawer app permanent width="250">
      <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="text-h6">
              <v-col>
                <v-row class="justify-center my-5">
                  <v-img
                    src="../assets/ton.svg"
                    max-height="4em"
                    max-width="4em"
                  >
                  </v-img>
                </v-row>
                <v-row class="justify-center">
                  <span class="chal-text">CHALLENGE</span>
                </v-row>
              </v-col>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list

          nav
        >
          <v-list-item
            v-for="item in items"
            :key="item.title"
            :to="item.link"
            link
          >
            <v-row class="menu-row">
              <v-list-item-icon>
                <v-icon color="green accent-3">{{ item.icon }}</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title class="item-text">{{ item.title }}</v-list-item-title>
              </v-list-item-content>
            </v-row>
          </v-list-item>
        </v-list>
        <div class="d-flex justify-center page-count">
          <p>Views: {{ views }}</p>
        </div>
    </v-navigation-drawer>
    <v-main>
      <v-container class="main-content">
        <router-view/>
      </v-container>
    </v-main>

  </v-app>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      views: null,
      items: [
        { title: 'Início', icon: 'mdi-home', link: '/' },
        { title: 'Criar Usuário', icon: 'mdi-account-plus', link: '/create' },
        { title: 'Buscar Usuário', icon: 'mdi-magnify', link: '/search' },
        { title: 'Sobre', icon: 'mdi-help-circle', link: '/about' },
      ],
    }
  },
  created() {
    axios
      .get('https://h6gz9pcqs3.execute-api.us-east-1.amazonaws.com/dev/proxy-get')
      .then(response => {
        this.views = response.data.value
      })
      .catch(error => {
        console.log(error)
      })
    axios
      .get('https://h6gz9pcqs3.execute-api.us-east-1.amazonaws.com/dev/proxy-hit')
      .then(response => {
        this.views = response.data.value
      })
      .catch(error => {
        console.log(error)
      })
  }
}
</script>

<style scoped>
   @import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Roboto+Mono:wght@500&display=swap');
  .menu-row {
    flex: 0 0 auto;
    margin: 0px;
  }
  .chal-text {
    font-size: 1.5em;
    font-family: 'Gideon Roman', cursive;
  }
  .item-text {
    font-family: 'Roboto Mono', monospace;
  }
  .page-count {
    position: absolute;
    bottom: 1em;
    font-family: 'Roboto Mono', monospace;
    width: 100%;
  }
</style>