<template>
  <v-sheet class="ma-12">
    <h1>Buscar Usuário</h1>
    <v-form
      ref="form"
    >

      <v-text-field
        v-model="email"
        label="E-mail"
        required
      ></v-text-field>

      <v-text-field
        v-model="password"
        label="Senha"
        type="password"
        required
      ></v-text-field>

      <v-btn
        color="success"
        class="mr-4"
        @click="submit"
      >
        Enviar
      </v-btn>

      <v-btn
        color="gray"
        class="mr-4"
        @click="reset"
      >
        Limpar
      </v-btn>
    </v-form>
    <small>A validação para esse teste é feita no backend.</small>
    <v-alert
    outlined
    type="success"
    text
    v-if="responseOk"
    >
      {{ responseText }}
    </v-alert>
    <v-alert
    outlined
    type="warning"
    text
    v-if="responseError"
    >
      {{ responseText }}
    </v-alert>
  </v-sheet>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      name: null,
      email: null,
      password: null,
      responseOk: false,
      responseError: false,
      responseText: null,
    }
  },
  methods: {
    reset() {
      this.name = null
      this.email = null
      this.password = null
    },
    submit() {
      axios
      .get(`https://h6gz9pcqs3.execute-api.us-east-1.amazonaws.com/dev/get-user/${this.email}?password=${this.password}`)
      .then(response => {
        this.responseText = JSON.stringify(response.data.user)
        this.responseError = false,
        this.responseOk = true,
        console.log(response.data.user)
      })
      .catch(error => {
        this.responseText = JSON.stringify(error.response.data.error)
        this.responseOk = false,
        this.responseError = true,
        console.log(error.response.data.error)
      })
    }
  }
}
</script>

<style>

</style>